@import "../../utilities/variables";

.hero{
    padding-top: 9rem;
    padding-bottom: 2rem;
    @media screen and (max-width: $md) {
        padding-top: 4rem;
        padding-bottom: 3rem;
    }
    @media screen and (max-width: $sm) {
        height: unset;
        padding-top: 1.5rem;
        padding-bottom: 0;
    }
    .container{
        display: flex;
        flex-direction: column;
        height: 100%;
        align-items: center;
        text-align: center;
        justify-content: center;
        .intro{
            font-size: 64px;
            margin-bottom: 1rem;
            margin: auto;
            .logo{
                font-size: inherit;
            }
            @media screen and (max-width: $md) {
                font-size: 52px;
            }
            @media screen and (max-width: $sm) {
                font-size: 36px;
                margin-bottom: 0.5rem;
            }
        }
        .title{
            font-size: 42px;
            margin-bottom: 2rem;
            color: $font-color;
            width: 75%;
            @media screen and (max-width: $md) {
                font-size: 36px;
            }
            @media screen and (max-width: $sm) {
                font-size: 24px;
                margin-bottom: 1rem;
            }
            .emphasise{
                color: $clr-primary;
            }
        }
        .description{
            font-size: 17px;
            color: $font-color;
            margin-bottom: 2rem;
            width: 75%;
            @media screen and (max-width: $sm) {
                font-size: 15px;
                margin-bottom: 1rem;
            }
        }
        .bottom{
            display: flex;
            flex-direction: column;
            span {
                color: grey;
                a {
                    color: $clr-primary;
                    text-decoration: none;
                    font-size: 14px;
                    transition: all 100ms ease-in-out;
                    &:hover{
                        color: $clr-primary-accent;
                    }
                }
            }
            .btns{
                display: flex;
                align-items: center;
                gap: 0.75rem;
                margin-bottom: 0.75rem;
                flex-wrap: wrap;
                justify-content: center;
                @media screen and (max-width: $sm) {
                    gap: 0.25rem;
                    margin-bottom: 1rem;
                    margin-top: 0.5rem;
                }

                a{
                    display: inline-block;
                    padding: 0.85rem 1.5rem;
                    text-decoration: none;
                    transition: all 200ms ease-in-out;
                    font-size: 17px;
                    font-weight: 500;
                    letter-spacing: 0.1px;
                    border-radius: 6px;
                    box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.1);
                    @media screen and (max-width: $sm) {
                        flex: 1 1 1;
                        font-size: 16px;
                        padding: 0.6rem 1rem;
                    }
                    &:hover{
                        box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.3);
                    }
                    &.primary{
                        background-color: $clr-primary;
                        border: 1px solid $clr-primary;
                        color:white;
                        &:hover{
                            background-color: $clr-primary-accent;
                            border-color: $clr-primary-accent;
                        }
                    }
                    &.secondary{
                        border: 1px solid $clr-secondary;
                        color: $clr-secondary;
                        &:hover{
                            background-color: rgba($clr-secondary-accent, 0.2);
                        }
                    }
                }
            }
            .upgrade{
                font-size: 14px;
            }
        }
    }
}