@import "../../utilities/variables";

.about{
    padding-top: 6rem;
    padding-bottom: 2rem;
    .container{
        .card-grid{
            display: flex;
            flex-wrap: wrap;
            gap: 1.5rem;
            justify-content: center;
            width: fit-content;
            @media screen and (max-width: $sm) {
                column-gap: 0.75rem;
            }
            @media screen and (min-width: $sm) {
                column-gap: 0.5rem;
                margin: auto;
                .about-card{
                    flex: 0 0 33.3333%;
                }
            }
        }
    }
}