@import "../../utilities/variables";

.about-card{
    text-align: center;
    &:hover{
        .icon-container, .title, .description{
            color: $clr-primary;
        }
    }
    .icon-container{
        margin-bottom: 0.4rem;
        transition: all 200ms ease-in-out;
    }
    .title{
        margin-bottom: 0.4rem;
        transition: all 200ms ease-in-out;
    }
    .description{
        transition: all 200ms ease-in-out;
        width: 80%;
        margin: auto;
    }
}