@import "../../utilities/variables";

.about-card{
    text-align: center;
    width: fit-content;
    max-width: fit-content;
    &:hover{
        .icon-container, .title, .description{
            color: $clr-primary;
        }
    }
    .icon-container{
        margin-bottom: 0.4rem;
        transition: all 200ms ease-in-out;
    }
    .title{
        margin-bottom: 0.4rem;
        transition: all 200ms ease-in-out;
    }
    .description{
        transition: all 200ms ease-in-out;
        margin: auto;
        max-width: 200px;
    }
    @media screen and (min-width: $xs) {
        .title{
            font-size: 20px;
        }
        .description{
            font-size: 14px;
            max-width: 130px;
        }
    }
    @media screen and (min-width: $sm) {
        .title{
            font-size: 22px;
        }
        .description{
            font-size: 15px;
            max-width: 150px;
        }
    }
}